amqp==5.0.6
asgiref==3.3.1
bcrypt==3.2.0
billiard==3.6.4.0
boto3==1.17.33
botocore==1.20.33
celery==5.1.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
cryptography==3.4.6
dj-database-url==0.5.0
Django==3.1.7
django-celery-results==2.0.1
django-heroku==0.3.1
django-storages==1.11.1
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
fabric==2.6.0
gunicorn==20.0.4
idna==2.10
invoke==1.5.0
jmespath==0.10.0
kombu==5.1.0
paramiko==2.7.2
pathlib2==2.3.5
Pillow==8.1.2
prompt-toolkit==3.0.18
psycopg2==2.8.5
psycopg2-binary==2.8.6
pycparser==2.20
PyNaCl==1.4.0
python-dateutil==2.8.1
python-decouple==3.4
pytz==2021.1
requests==2.25.1
s3transfer==0.3.4
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.4
vine==5.0.0
wcwidth==0.2.5
whitenoise==5.2.0
